:root{
    --red: #dc3545; 
    --green: #198754; 
    --background: #212529;
    --container: #212529;
    --text-color: #dee2e6;
    --border-color: #495057;
    --option-hover-bg-color: #424649;
}